@page "/elements"
@using Generous.Models
@rendermode InteractiveServer

<h3>ElementsPage</h3>

<FluentButton Appearance="Appearance.Accent" OnClick="AddElement">Add Element</FluentButton>

<FluentDataGrid Items="@Elements" TGridItem="Element">
    <PropertyColumn Property="@(e => e.Id)" Sortable="true" />
    <PropertyColumn Property="@(e => e.Name)" Sortable="true" />
    <PropertyColumn Property="@(e => e.CreatedDate)" Format="yyyy-MM-dd" Sortable="true" />
    <PropertyColumn Property="@(e => e.ModifiedDate)" Format="yyyy-MM-dd" Sortable="true" />
</FluentDataGrid>